

#    █▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀█
#    █  █▀▀▄ █▀▀▄  █  █  █ ▀▀█▀▀      ▄▀▀▄ ▀▀█▀▀ ▄▀▀▄  █▀▀▄ ▀▀█▀▀         █       █▀▀▀ █  █  █▀▀▄  █
#    █  █▄▄▀ █▄▄▀  █  █▀▄█   █         ▀▄    █   █▄▄█  █▄▄▀   █          █        █▄▄  █▀▄█  █  █  █
#    █  █    █  █  █  █  █   █           █   █   █  █  █  █   █         █         █    █  █  █  █  █
#    █  █    █  █  █  █  █   █        ▀▄▄▀   █   █  █  █  █   █        █          █▄▄▄ █  █  █▄▄▀  █
#    █▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄█

# IF PRINTER_IS_VIRTU_E3  
[gcode_macro PRINT_START]
gcode:
# This part fetches data from your slicer. Such as bed, extruder, and chamber temps and print profile speed info.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("30")|int %}
  {% set profile = params.PROFILE|default("normal")|string|lower %}
    M140 S{target_bed}                        # Bed heating start
    M104 S150                                 # Extruder preheating to 150
  SAFE_TILT_HOME PRINTING=1					  # Safe homing and tilt alignment
    M190 S{target_bed}                        # Wait for bed temperature
    M109 S150                                 # Wait for extruder at 150
    G4 P120000                                # Wait 2 min for the bedtemp to stabilize
    G28 Z                                     # Home Z with bed tilt adjusted
  BED_MESH_CALIBRATE                          # Start the bed mesh (add ADAPTIVE=1 for adaptive bed mesh)
  CARTOGRAPHER_TOUCH_HOME                     # Nozzle touch
    M104 S{target_extruder}                   # Extruder heating start
    G1 X20 Y2 Z20 F3000                       # Heating position
    M109 S{target_extruder}                   # Extruder heatup wait 
	SET_XY_CURRENT LEVEL={ profile }		  # Set XY motor currents based on the speed profile
  # PRIMELINE
    G0 X2 Y2 F10000                           # Go to starting point
    G0 Z0.4                                   # Raise Z to 0.4
    G91                                       # Incremental positioning 
    G1 X50 E10 F1000                          # Primeline
    G90                                       # Absolute position
# ENDIF

# IF PRINTER_IS_VIRTU_E3
[gcode_macro PRINT_END]
gcode:
  {% set vars = printer["gcode_macro _USER_VARIABLES"] %}
    G4                                        # Wait to finish commands
    M221 S100                                 # Restore Flow to 100%
    M106 S0                                   # Turn off cooling fan
    M104 S0                                   # Turn off hotend heater
    M140 S0                                   # Turn off bed heater
    G91                                       # Relative positioning
    G1 Z1
    G1 F1800 E-5                              # Retract 5 mm
    G90                                       # Absolute positioning
    G1 X20 Y210 F30000                        # Move head back
  SET_Z_CURRENT LEVEL="idle"				  # Set Z motors current to idle
  SET_XY_CURRENT LEVEL="quiet"				  # Set XY motors current to idle
  SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0 # Disable extruder stepper motor
  SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0 # Disable XY stepper motors (rear)
  SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
  {% if vars.is_awd %}
    SET_STEPPER_ENABLE STEPPER=stepper_x1 ENABLE=0 # Disable XY stepper motors (front, if AWD)
	SET_STEPPER_ENABLE STEPPER=stepper_y1 ENABLE=0
  {% endif %}
  SET_KINEMATIC_POSITION CLEAR_HOMED=XY		 # Clear XY axis homing status
# ENDIF


#    █▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀█
#    █  █▀▀▄  ▄▀▀▄  ▄▀▀▄ ▀▀█▀▀ █
#    █  █▄▄▀  █  █  █  █   █   █
#    █  █  █  █  █  █  █   █   █
#    █  █▄▄▀  ▀▄▄▀  ▀▄▄▀   █   █
#    █▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄█


[delayed_gcode _INIT_USER_SETTINGS]
initial_duration: 2
gcode:
    # The startup macro - runs once on boot, sets motor currents to idle and enables Z stepper motors
	{% set vars = printer["gcode_macro _USER_VARIABLES"] %}
    SET_Z_CURRENT LEVEL="idle"
    SET_XY_CURRENT LEVEL="idle"
    SET_STEPPER_ENABLE STEPPER=stepper_z ENABLE=1
# IF PRINTER_IS_VIRTU_E3
	SET_STEPPER_ENABLE STEPPER=stepper_z1 ENABLE=1
	SET_STEPPER_ENABLE STEPPER=stepper_z2 ENABLE=1
# ENDIF
    {% if not vars.z_boot %}
    SET_STEPPER_ENABLE STEPPER=stepper_z ENABLE=0
# IF PRINTER_IS_VIRTU_E3
	SET_STEPPER_ENABLE STEPPER=stepper_z1 ENABLE=0
	SET_STEPPER_ENABLE STEPPER=stepper_z2 ENABLE=0
# ENDIF
    {% endif %}
    RESPOND MSG="Manual Config Loaded: Z={vars.z_idle}A, XY={vars.xy_idle}A, AWD={vars.is_awd}"


#    █▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀█
#    █  ▄▀▀▄ ▀▀█▀▀ █  █  █▀▀▀ █▀▀▄  █
#    █  █  █   █   █▄▄█  █▄▄  █▄▄▀  █
#    █  █  █   █   █  █  █    █  █  █
#    █  ▀▄▄▀   █   █  █  █▄▄▄ █  █  █
#    █▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄█


[gcode_macro SET_Z_CURRENT]
description: Set current level - low / idle / normal
gcode:
    {% set level = params.LEVEL|default("normal")|string %}
    {% set vars = printer["gcode_macro _USER_VARIABLES"] %}
    {% set val = vars.z_normal %}
    {% if level == "idle" %} {% set val = vars.z_idle %}
    {% elif level == "low" %} {% set val = vars.z_low %}
    {% endif %}
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={val}
# IF PRINTER_IS_VIRTU_E3
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={val}
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={val}
# ENDIF

[gcode_macro SET_XY_CURRENT]
description: Set current level - idle / quiet / normal / fast
gcode:
    {% set level = params.LEVEL|default("normal")|string %}
    {% set vars = printer["gcode_macro _USER_VARIABLES"] %}
    {% set val = vars.xy_normal %}
    {% if level == "quiet" %} {% set val = vars.xy_quiet %}
    {% elif level == "fast" %} {% set val = vars.xy_fast %}
    {% elif level == "idle" %} {% set val = vars.xy_idle %}
    {% endif %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={val}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={val}
    {% if vars.is_awd %}
        SET_TMC_CURRENT STEPPER=stepper_x1 CURRENT={val}
        SET_TMC_CURRENT STEPPER=stepper_y1 CURRENT={val}
    {% endif %}

[gcode_macro ECHO_USER_VARIABLES]
gcode:
    {% set vars = printer["gcode_macro _USER_VARIABLES"] %}
    { action_respond_info("Current Settings:
                          Z Idle: %s
                          XY Idle: %s
                          AWD Mode: %s" % (vars.z_idle, vars.xy_idle, vars.is_awd)) }

# IF PRINTER_IS_VIRTU_E3
[gcode_macro SAFE_TILT_HOME]
gcode:
  {% set vars = printer["gcode_macro _USER_VARIABLES"] %}
  {% set z_max = printer.toolhead.axis_maximum.z|float %}
  {% set printing = params.PRINTING|default(0)|int %}
    G90                                       # use absolute coordinates
    M83                                       # extruder relative mode
    G21                                       # metric values
    SET_GCODE_OFFSET Z=0                      # Reset Z offset
  SET_Z_CURRENT LEVEL="normal"				  # Set Z motor current (normal)
  SET_XY_CURRENT LEVEL="quiet"				  # Set Z motor current (quiet)
    G28
    G1 Z{printer.toolhead.axis_maximum.z|float - 17} F24000                            # PRE-Z_TILT 1. go to bottom position
  SET_Z_CURRENT LEVEL="low"				  	  # Set Z motor current to low for the least motor resistance
    G1 Z{printer.toolhead.axis_maximum.z|float - 2} F150                              # PRE-Z_TILT 2. roughly align motors if misaligned too much (to avoid damaging bed while TILT)
  SET_Z_CURRENT LEVEL="normal"				  # Set Z motor current (normal)
    G1 Z30 F24000                             # PRE-Z_TILT 3. move bed up again
    G28 Z                                     # Home Z after PRE-Z_TILT sequence
  Z_TILT_ADJUST                               # Normal and safe bed tilt adjustment
    G1 X110 Y110 Z50 F24000
  {% if printing == 0 %}					  # If we are NOT in the PRINT_START macro, set Z to "idle" and disable X, Y, E motors, otherwise keep them on
    SET_Z_CURRENT LEVEL="idle"
	SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
    {% if vars.is_awd %}
      SET_STEPPER_ENABLE STEPPER=stepper_x1 ENABLE=0
	  SET_STEPPER_ENABLE STEPPER=stepper_y1 ENABLE=0
    {% endif %}
    SET_KINEMATIC_POSITION CLEAR_HOMED=XY
  {% endif %}
# ENDIF
