# FILE CONTENT:
#   Use this file to store commonly adjustable values used in macros
#   Created by RH3D [RH3D.xyz] for Virtu
#   v.0.1.0 - 2026.01.23


#    █▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀█
#    █  █  █  ▄▀▀▄  █▀▀▀  █▀▀▄       █   █  ▄▀▀▄  █▀▀▄  █  ▄▀▀▄  █▀▀▄  █    █▀▀▀  ▄▀▀▄  █
#    █  █  █   ▀▄   █▄▄   █▄▄▀       ▀▄ ▄▀  █▄▄█  █▄▄▀  █  █▄▄█  █▄▄▀  █    █▄▄    ▀▄   █
#    █  █  █     █  █     █  █        █ █   █  █  █  █  █  █  █  █  █  █    █        █  █
#    █  ▀▄▄▀  ▀▄▄▀  █▄▄▄  █  █         █    █  █  █  █  █  █  █  █▄▄▀  █▄▄▄ █▄▄▄  ▀▄▄▀  █
#    █▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄█


[gcode_macro _USER_VARIABLES]
# --- Z AXIS MOTOR SETTINGS ---
variable_z_normal:       [[EXPR:CURRENT_Z * 0.75]]
variable_z_idle:         [[EXPR:CURRENT_Z * 0.25]]
variable_z_low:          0.1

# --- XY AXIS MOTOR PROFILES ---
variable_xy_fast:        [[EXPR:CURRENT_XY * 0.9]]
variable_xy_normal:      [[EXPR:CURRENT_XY * 0.65]]
variable_xy_quiet:       [[EXPR:CURRENT_XY * 0.4]]
variable_xy_idle:        [[EXPR:CURRENT_XY * 0.2]]

# IF HAS_4WD
# --- CONFIGURATION ---
variable_is_awd:         True  # Set to "True" if using 4 motors for XY, set to "False" if using 2 motors for XY
# ENDIF
# IF !HAS_4WD
# --- CONFIGURATION ---
variable_is_awd:         False  # Set to "True" if using 4 motors for XY, set to "False" if using 2 motors for XY
# ENDIF
variable_z_hold_boot:    True  # Enable Z motors on printer boot to hold the bed position (on "z_idle" current to reduce power usage), set to False if not needed.
variable_z_hold:         True  # Keeps Z motors energized to hold the bed weight on end of the print (on "z_idle" current to reduce power usage), set to False if not needed.
variable_is_skewed:      False # Enable to tell the PRINT_START macro to load the skew profile (name it "skew_profile") if you have done skew calibration.

gcode:
    # Just a placeholder to keep the macro valid
    ECHO_USER_VARIABLES

# DEFAULT KLIPPER VARIABLES ADJUSTED
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos  : True  # Enable custom park position
variable_custom_park_x   : 10.0  # Custom X coordinate for park position
variable_custom_park_y   : 10.0  # Custom Y coordinate for park position
variable_custom_park_dz   : 2.0  # Z hop value during parking
variable_retract          : 1.0  # Retract distance while PAUSE
variable_cancel_retract   : 4.0  # Retract distance while CANCEL_PRINT
variable_park_at_cancel   : True # Enable custom position for CANCEL_PRINT
variable_park_at_cancel_x : 10   # Custom X coordinate for park position during CANCEL_PRINT
variable_park_at_cancel_y : [[EXPR:POSITION_MAX_Y - 15]]  # Custom Y coordinate for park position during CANCEL_PRINT
gcode:
