# FILE CONTENT:
#   Use this file to store commonly adjustable values used in macros
#   Created by RH3D [RH3D.xyz] for Virtu
#   v.0.1.0 - 2026.01.23


#    █▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀█
#    █  █  █  ▄▀▀▄  █▀▀▀  █▀▀▄       █   █  ▄▀▀▄  █▀▀▄  █  ▄▀▀▄  █▀▀▄  █    █▀▀▀  ▄▀▀▄  █
#    █  █  █   ▀▄   █▄▄   █▄▄▀       ▀▄ ▄▀  █▄▄█  █▄▄▀  █  █▄▄█  █▄▄▀  █    █▄▄    ▀▄   █
#    █  █  █     █  █     █  █        █ █   █  █  █  █  █  █  █  █  █  █    █        █  █
#    █  ▀▄▄▀  ▀▄▄▀  █▄▄▄  █  █         █    █  █  █  █  █  █  █  █▄▄▀  █▄▄▄ █▄▄▄  ▀▄▄▀  █
#    █▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄█


[gcode_macro _USER_VARIABLES]
# --- Z AXIS MOTOR SETTINGS ---
variable_z_normal:       [[EXPR:CURRENT_Z * 0.75]] # 0.8
variable_z_idle:         [[EXPR:CURRENT_Z * 0.375]] # 0.3
variable_z_low:          0.1

# --- XY AXIS MOTOR PROFILES ---
variable_xy_fast:        [[EXPR:CURRENT_XY * 0.9]] # 2.8
variable_xy_normal:      [[EXPR:CURRENT_XY * 0.65]] # 2.0
variable_xy_quiet:       [[EXPR:CURRENT_XY * 0.4]] # 1.2
variable_xy_idle:        [[EXPR:CURRENT_XY * 0.2]] # 0.6

# IF HAS_4WD
# --- CONFIGURATION ---
variable_is_awd:         True  # Set to "True" if using 4 motors for XY, set to "False" if using 2 motors for XY
# ENDIF
# IF !HAS_4WD
# --- CONFIGURATION ---
variable_is_awd:         False  # Set to "True" if using 4 motors for XY, set to "False" if using 2 motors for XY
# ENDIF

gcode:
    # Just a placeholder to keep the macro valid
    ECHO_USER_VARIABLES